.flex {
    display: flex;
}

.ac {
    align-items: center;
}

.jc {
    justify-content: center;
}

.jspace-bet {
    justify-content: space-between;
}

.dir-col {
    flex-direction: column;
}

.evc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-grow-1 {
    flex-grow: 1;
}
