.header-body {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 100;
    width: 100%;
    background-color: white;
}

.Dark .header-body {
    box-shadow: 0 1px 2px 0 rgb(255 255 255 / 20%);
    border-bottom: solid;
    border-bottom-color: #4c4c4c;
    border-bottom-width: 1px;
    background-color: #282828 !important;
}

.Light .header-body {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
