.page-main {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.page-width--large {
    max-width: 1020px;
    width: 100%;
    padding: 30px;
}

.page-layout--flex {
    display: flex;
}

.page--left {
    width: 60%;
    border-right-style: solid;
    border-width: 1px;
    padding: 0px 30px;
}

.page--center {
    padding: 0px 30px;
}

.Light .page--left {
    border-color: #f1f1f1;
}

.Dark .page--left {
    border-color: #303030;
}


.page--right {
    width: 40%;
    padding: 0px 30px;
}
