.spacer-hb {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mg-left-sm {
    margin-left: 8px;
}

.mg-left-md{
    margin-left: 14px;
}

.mg-top-sm {
    margin-top: 8px;
}

.mg-top-md {
    margin-top: 14px;
}

.mg-top-rg {
    margin-top: 16.5px;
}

.mg-top-lg {
    margin-top: 20px;
}

.spacer-lg-border {
    border-top: solid;
    border-top-width: 1px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.Light .spacer-lg-border {
    color: #f1f1f1;
}

.Dark .spacer-lg-border {
    color: #303030;
}
