.spacer-hb {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mg-left-sm {
    margin-left: 8px;
}

.mg-top-sm {
    margin-top: 8px;
}

.mg-top-md {
    margin-top: 14px;
}

.mg-top-lg {
    margin-top: 20px;
}
