.large-text {
    font-size: 2em;
}

.regular-text {
    font-size: 1.5em;
}

.medium-text {
    font-size: 1em;
}

.small-text {
    font-size: 0.88em;
}


.ltr-space-20 {
    letter-spacing: 0.05em;
}

.ltr-space-17 {
    letter-spacing: 0.045em;
}

.ltr-space-14 {
    letter-spacing: 0.040em;
}

.ltr-space-12 {
    letter-spacing: 0.035em;
}

.ltr-space-9 {
    letter-spacing: 0.030em;
}

.ltr-space-6 {
    letter-spacing: 0.025em;
}

.ltr-space-3 {
    letter-spacing: 0.020em;
}
